<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="sentry-trace" content="{{ trace }}"/>
    <title>DU Attend v2 - 바로출석</title>
    {% include 'fragment/header.html' %}
    <script src="/static/qr.js"></script>
</head>
<body>

<div class="container mt-3">
    <h1 style="text-align: center;">바로출석</h1>
    <hr>

    <div class="f18" style="margin-top: 1em; margin-bottom: 1em; text-align: center;">
        <span style="font-weight: bold" id="alert">카메라 권한을 허용해 주세요!</span>
    </div>

    <div id="CameraSelect">

    </div>

    <div id="reader" style="margin-top: 1em; margin-bottom: 2em">

    </div>
</div>

{% include 'fragment/footer.html' %}

<script>
    let current_html5QRCode = undefined;
    let cameraList = [];
    let classroomName = "";
    let qrCodeData = "";
    let SERVER_ADDRESS = "//attend.miscthings.net/"

    function detect_api_server() {
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: "/7qy38tiejfkdnojiwgu9eyhijdfk",
                success: function (data) {
                    console.log("Hello api server!")
                    SERVER_ADDRESS = "/"
                    resolve()
                },
                error: function (xhr, status, err) {
                    resolve()
                },
                timeout: 500
            });
        })
    }

    function classroom_data(push, data) {
        let type = 0
        if (push) {
            type = 1
        }
        if (!data) {
            data = ""
        }

        return new Promise(function (resolve, reject) {
            if (localStorage.getItem("login_id") && localStorage.getItem("password")) {
                $.ajax({
                    method: "POST",
                    url: SERVER_ADDRESS + "account/action",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        std_id: localStorage.getItem("login_id"),
                        password: localStorage.getItem("password"),
                        type: type,
                        data: data,
                        account_register: false
                    }),
                    success: function (data) {
                        if (!data.success) {
                            window.location = "login.html"
                        }

                        $(".login_id").each(function () {
                            $(this).html(localStorage.getItem("login_id"))
                        })

                        resolve(data.data)
                    },
                });
            } else {
                window.location = "login.html"
            }
        })
    }


    $(document).ready(async function () {
        var ua = navigator.userAgent.toLowerCase(); //userAgent 값 얻기
        if (ua.indexOf('kakaotalk') > -1) {
            alert("잠깐!!!!!!!!\n카카오톡 브라우저를 사용하고 계시네요.\n카메라 지원이 안될 수 있습니다. 주소를 복사해서 기본 브라우저를 사용해주세요.\n양해해 주셔서 감사합니다.")
        }

        await detect_api_server();
        await classroom_data();
        await addFromQR();
    })

    function alertText(id, lv, text) {
        $(id).html(text)
    }

    Array.prototype.swap = function (a, b) {
        let temp = this[a];
        this[a] = this[b];
        this[b] = temp;
    };

    function doneReadQR() {
        $("#reader").html(`<button style="width: 100%;" onclick="addFromQR();">다시 인식하기</button>`)
    }

    function listCamera() {
        let camSelect = $('#CameraSelect');
        camSelect.empty();

        for (let i = 0; i < cameraList.length; i++) {
            if (i === 0) {
                camSelect.append(`<button class="camera-btn" onclick="">✓ ${cameraList[i].label}</button>`)
            } else {
                camSelect.append(`<button class="camera-btn" onclick="selectCamera(${i})">${cameraList[i].label}</button>`)
            }
        }
    }

    function selectCamera(i) {
        cameraList.swap(i, 0);
        addFromQR();
        listCamera();
    }

    async function addFromQR() {
        alertText('#alert', 'warning', "카메라 권한을 허용해 주십시오.");

        if (!cameraList.length) {
            cameraList = await getCameraList();
            sortCamera();
            listCamera();
        }

        if (!cameraList.length) {
            console.log("사용 가능한 카메라가 없습니다.");

            alertText('#alert', 'danger', "사용 가능한 카메라가 없거나 차단되었습니다.");

            $('#addQRBtn').attr('disabled', true);
            return;
        }

        alertText('#alert', 'info', "QR코드를 인식시켜 주십시오.");
        let result = await captureQRData(cameraList[0].id);
        alertText('#alert', 'info', "출석 URL 받아오는 중...");
        let url = SERVER_ADDRESS + `attend_url?std_id=${localStorage.getItem("login_id")}&qr_string=${result}`
        window.location.replace(url);


        qrCodeData = result
        classroomName = result.substr(0, 4);

        $("#classRoomNameDiv").show();
        $("#save_btn").show();
        $("#classRoomName").html(classroomName);

        doneReadQR();
        // addClassroom(result.sid, result.tid, `${result.tid} 강의실`);
    }

    function getCameraList() {
        return new Promise(function (resolve, reject) {
            Html5Qrcode.getCameras().then(devices => {
                /**
                 * devices would be an array of objects of type:
                 * { id: "id", label: "label" }
                 */
                if (devices && devices.length) {
                    resolve(devices)
                } else {
                    resolve([])
                }
            }).catch(err => {
                resolve([]);
            });
        });
    }

    function sortCamera() {
        for (let i = 0; i < cameraList.length; i++) {
            if (cameraList[i].label.includes("0, facing back")) {
                cameraList.swap(i, 0)
                break;
            }

            if (cameraList[i].label.includes("후면 카메라")) {
                cameraList.swap(i, 0)
                break;
            }
        }
    }

    function checkQRData(data) {
        return /^[0-9a-fA-F]{31,65}$/.test(data)
    }

    function captureQRData(cid) {
        return new Promise(function (resolve, reject) {
            const html5QrCode = new Html5Qrcode("reader");
            current_html5QRCode = html5QrCode;
            html5QrCode.start(
                cid,
                {
                    fps: 29,    // Optional frame per seconds for qr code scanning
                    // qrbox: 250  // Optional if you want bounded box UI
                },
                qrCodeMessage => {
                    // do something when code is read
                    // $('#hit').append('<p>' + qrCodeMessage + '</p>');
                    if (checkQRData(qrCodeMessage)) {
                        alertText('#alert', 'success', "인식이 완료되었습니다. ");
                        html5QrCode.stop();
                        resolve(qrCodeMessage)
                    } else {
                        alertText('#alert', 'warning', "올바른 QR코드가 아닙니다. ");
                    }
                },
                errorMessage => {
                    // parse error, ignore it.
                    // console.log(errorMessage)
                })
                .catch(err => {
                    alert(err)
                    html5QrCode.stop();
                });
        })
    }
</script>

</body>
</html>