<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="sentry-trace" content="{{ trace }}"/>
    <title>DU Attend v2</title>
    {% include 'fragment/header.html' %}
</head>
<body>

<div>
    <h1 style="text-align: center;">나의 강의실</h1>
    <hr>

    <div style="margin-top: 1em; margin-bottom: 0.5em" class="f18">
        안녕하세요, <a href="user.html" class="login_id"></a>님!
    </div>

<!--    22-04 프로모션 구간-->
    {% include 'promotion_202204_indexbox.html' %}
<!--    22-04 프로모션 구간 끝-->

    <div id="classroom_list" style="margin-top: 1em; margin-bottom: 2em">
        <!--        <div>-->
        <!--            <span class="f18"><span>사랑빛자유프로젝트</span> 강의실 <br>→ </span>-->
        <!--            <a href="#" class="f18">출석</a>-->
        <!--            -->
        <!--        </div>-->
    </div>

    <div style="display: flex; justify-content: space-around; width: 100%; flex-flow: row wrap;">
        <button style="flex-grow: 1;" onclick="window.location = 'baroqr.html'">바로 출석</button>
        <button style="flex-grow: 1;" onclick="window.location = 'qr.html'">강의실 추가</button>
    </div>
</div>

{% include 'fragment/footer.html' %}

<script>
    let SERVER_ADDRESS = "//attend.miscthings.net/"
    let classrooms = [];

    function detect_api_server() {
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: "/7qy38tiejfkdnojiwgu9eyhijdfk",
                success: function (data) {
                    console.log("Hello api server!")
                    SERVER_ADDRESS = "/"
                    resolve()
                },
                error: function (xhr, status, err) {
                    resolve()
                },
                timeout: 500
            });
        })
    }

    function classroom_data(push, data) {
        let type = 0
        if (push) {
            type = 1
        }
        if (!data) {
            data = ""
        }

        return new Promise(function (resolve, reject) {
            if (localStorage.getItem("login_id") && localStorage.getItem("password")) {
                $.ajax({
                    method: "POST",
                    url: SERVER_ADDRESS + "account/action",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        std_id: localStorage.getItem("login_id"),
                        password: localStorage.getItem("password"),
                        type: type,
                        data: data,
                        account_register: false
                    }),
                    success: function (data) {
                        if (!data.success) {
                            window.location = "login.html"
                        }

                        $(".login_id").each(function () {
                            $(this).html(localStorage.getItem("login_id"))
                        })

                        if (data.new_token) {
                            localStorage.setItem("password", data.new_token)
                        }

                        resolve(data.data)
                    },
                });
            } else {
                window.location = "login.html"
            }
        })
    }

    async function deleteclassroom(idx) {
        if (confirm("정말 삭제하시겠습니까?")) {
            classrooms.splice(idx, 1);
            await classroom_data(1, JSON.stringify(classrooms));
            await draw_classroom(classrooms);
        }
    }

    async function renameclassroom(idx) {
        let original_name = classrooms[idx].name
        let new_name = prompt("새 이름을 입력해 주십시오.", original_name);
        if (new_name != null) {
            classrooms[idx].name = new_name;
            await classroom_data(1, JSON.stringify(classrooms));
            await draw_classroom(classrooms);
        }
    }


    function draw_classroom(classrooms) {
        $("#classroom_list").empty();
        classrooms.forEach(function (e, i) {
            let url = SERVER_ADDRESS + `attend_url?std_id=${localStorage.getItem("login_id")}&qr_string=${e.qr_string}`
            $("#classroom_list").append(`<div style="margin-bottom: 1em;" >
            <span class="f18"><span>${e.name}</span> 강의실 <br></span>
            <span class="f16">→</span>
            <a class="attend_lnk f16" href="${url}">출석</a> 또는
            <a id="editdig-trigger" href="#" class="f16" onclick="renameclassroom(${i})">편집</a> 또는
            <a id="editdig-trigger" href="#" class="f16" onclick="deleteclassroom(${i})">삭제</a>
        </div>`)
        })
    }

    $(document).ready(async function () {
        try {
            await detect_api_server();
        } catch (e) {

        }
        classrooms = await classroom_data();
        try {
            classrooms = JSON.parse(classrooms);
        } catch (e) {
            classrooms = [];
        }
        draw_classroom(classrooms);
    })
</script>

</body>
</html>