<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="sentry-trace" content="{{ trace }}"/>
    <title>DU Attend v2</title>

    {% include 'fragment/header.html' %}
    <!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="/static/js/bootstrap.min.js"
            crossorigin="anonymous"></script>


</head>
<body>

<div class="container mt-3">
    <h1 style="text-align: center;">DU Attend V2</h1>
    <hr>

    <div role="search">
        <form action="search.html" method="get" id="search_form">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="무엇이든 찾아보세요" aria-label="검색창" name="q"
                       aria-describedby="search_btn">
                <button class="btn btn-outline-secondary" type="button" id="clear_btn" aria-label="초기화"><i
                        class="fa-solid fa-times"></i></button>
                <button class="btn btn-outline-success" type="submit" id="search_btn" aria-label="검색"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </form>
    </div>

    <!--    <nav role="navigation">-->
    <!--        <div class="mt-3" style="display: flex; justify-content: space-around; width: 100%; flex-flow: row wrap;">-->
    <!--            <button class="btn btn-outline-secondary" style="flex-grow: 1;" onclick="window.location = 'qr.html'"><i-->
    <!--                    class="fa-solid fa-plus"></i> 강의실 추가-->
    <!--            </button>&nbsp;-->
    <!--            <button class="btn btn-outline-secondary" style="flex-grow: 1;" onclick="window.location = 'baroqr.html'"><i-->
    <!--                    class="fa-solid fa-qrcode"></i> 바로-->
    <!--                출석-->
    <!--            </button> &nbsp;-->
    <!--            <button class="btn btn-outline-secondary" style="flex-grow: 1;" onclick="window.location = 'user.html'"><i-->
    <!--                    class="fa-solid fa-gear"></i> 편집·설정-->
    <!--            </button>-->
    <!--        </div>-->
    <!--    </nav>-->

    <div role="banner">
        <div style="" class="mt-3 mb-3">
            {% include 'fragment/banner_new.html' %}
        </div>
    </div>

    <!--    22-04 프로모션 구간-->
    <!--    {% include 'promotion_202204_indexbox.html' %}-->
    <!--    22-04 프로모션 구간 끝-->

    <main role="main">
        <div style="margin-top: 1em;">

        </div>

        <div id="classroom_list" class="mb-3" style=" ">

            <!--            <div style="margin-bottom: 1em;">-->
            <!--                <span class="f18"><span>${e.name}</span> 강의실 <br></span>-->
            <!--                <span class="f16">→</span>-->
            <!--                <a class="attend_lnk f16" href="${url}">출석</a> 또는-->
            <!--                <a id="editdig-trigger" href="#" class="f16" onclick="renameclassroom(${i})">편집</a> 또는-->
            <!--                <a id="editdig-trigger" href="#" class="f16" onclick="deleteclassroom(${i})">삭제</a>-->
            <!--            </div>-->
        </div>

        <nav role="navigation" style="margin-bottom: 2em;">
            <div class="card mb-2 hstack gap-2" style="font-size: 1.4em; background-color: rgba(176,196,222,0.15)"
                 onclick="location.href='qr.html'" role="button">
                <div class="ms-4 mt-2 mb-2">
                    <span><i class="fa-solid fa-plus"></i>&nbsp; 강의실 추가</span>
                </div>
                <!--                <div class="ms-auto me-4">-->
                <!--                    <i class="fa-solid fa-plus"></i>-->
                <!--                </div>-->
            </div>

            <div class="card mb-2 hstack gap-2" style="font-size: 1.4em; background-color: rgba(176,196,222,0.15)"
                 onclick="location.href='baroqr.html'" role="button">
                <div class="ms-4 mt-2 mb-2">
                    <span><i class="fa-solid fa-qrcode"></i>&nbsp; 바로출석</span>
                </div>
                <!--                <div class="ms-auto me-4">-->
                <!--                    <i class="fa-solid fa-qrcode"></i>-->
                <!--                </div>-->
            </div>

            <div class="card mb-2 hstack gap-2" style="font-size: 1.4em; background-color: rgba(176,196,222,0.15)"
                 onclick="location.href='user.html'" role="button">
                <div class="ms-4 mt-2 mb-2">
                    <span><i class="fa-solid fa-gear"></i>&nbsp; 강의실 편집·사용자 설정</span>
                </div>
                <!--                <div class="ms-auto me-4">-->
                <!--                    <i class="fa-solid fa-gear"></i>-->
                <!--                </div>-->
            </div>

            <div class="card mb-2 mt-3 hstack gap-2" style="font-size: 1.4em; background-color: rgba(222,176,187,0.1)"
                 onclick="location.href='report.html'" role="button">
                <div class="ms-4 mt-2 mb-2">
                    <span><i class="fa-solid fa-bullhorn"></i>&nbsp; 의견·도움요청</span>
                </div>
            </div>

            <div class="card mb-2 hstack gap-2" style="font-size: 1.4em; background-color: rgba(222,176,187,0.1)"
                 onclick="location.href='introduce.html'" role="button">
                <div class="ms-4 mt-2 mb-2">
                    <span><i class="fa-regular fa-circle-question"></i>&nbsp; 사용법</span>
                </div>
            </div>

            <div class="card mb-2 hstack gap-2" style="font-size: 1.4em; background-color: rgba(222,176,187,0.1)"
                 onclick="location.href='https://miscthings.net'" role="button">
                <div class="ms-4 mt-2 mb-2">
                    <span><i class="fa-solid fa-people-group"></i>&nbsp; MiscThings 소개</span>
                </div>
            </div>

        </nav>
    </main>


</div>

{% include 'fragment/footer.html' %}


<script>
    let SERVER_ADDRESS = "//attend.miscthings.net/"
    let classrooms = [];

    function getByteB(str) {
        var byte = 0;
        for (var i = 0; i < str.length; ++i) {
            (str.charCodeAt(i) > 127) ? byte += 2 : byte++;
        }
        return byte;
    }

    function detect_api_server() {
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: "/7qy38tiejfkdnojiwgu9eyhijdfk",
                success: function (data) {
                    console.log("Hello api server!")
                    SERVER_ADDRESS = "/"
                    resolve()
                },
                error: function (xhr, status, err) {
                    resolve()
                },
                timeout: 500
            });
        })
    }

    function classroom_data(push, data) {
        let type = 0
        if (push) {
            type = 1
        }
        if (!data) {
            data = ""
        }

        return new Promise(function (resolve, reject) {
            if (localStorage.getItem("login_id") && localStorage.getItem("password")) {
                $.ajax({
                    method: "POST",
                    url: SERVER_ADDRESS + "account/action",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        std_id: localStorage.getItem("login_id"),
                        password: localStorage.getItem("password"),
                        type: type,
                        data: data,
                        account_register: false
                    }),
                    success: function (data) {
                        if (!data.success) {
                            window.location = "login.html"
                        }

                        $(".login_id").each(function () {
                            $(this).html(localStorage.getItem("login_id"))
                        })

                        if (data.new_token) {
                            localStorage.setItem("password", data.new_token)
                        }

                        resolve(data.data)
                    },
                });
            } else {
                window.location = "login.html"
            }
        })
    }

    async function deleteclassroom(idx) {
        if (confirm("정말 삭제하시겠습니까?")) {
            classrooms.splice(idx, 1);
            await classroom_data(1, JSON.stringify(classrooms));
            await draw_classroom(classrooms);
        }
    }

    async function renameclassroom(idx) {
        let original_name = classrooms[idx].name
        let new_name = prompt("새 이름을 입력해 주십시오.", original_name);
        if (new_name != null) {
            classrooms[idx].name = new_name;
            await classroom_data(1, JSON.stringify(classrooms));
            await draw_classroom(classrooms);
        }
    }


    function draw_classroom(classrooms) {
        $("#classroom_list").empty();
        classrooms.forEach(function (e, i) {
            let class_name = e.name;
            class_name = class_name? class_name.replaceAll("<", "＜").replaceAll(">", "＞") : "이름 없는"
            if (getByteB(class_name) > 16) {
                let l = getByteB(class_name) % 2 === 0 ? 10 : 11
                class_name = class_name.substring(0, l) + "..."
            } else {
                class_name = class_name + " 강의실"
            }

            let url = SERVER_ADDRESS + `attend_url?std_id=${localStorage.getItem("login_id")}&qr_string=${e.qr_string}`
            $("#classroom_list").append(`<div class="card mb-2 hstack gap-2" style="font-size: 1.8em;" role="button" onclick="location.href='${url}';">
                <div class="ms-4 mt-2 mb-2">
                    <span>${class_name}</span>
                </div>
                <div class="ms-auto me-4">
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>`)
            //     $("#classroom_list").append(`<div style="margin-bottom: 1em;" >
            //     <span class="f18"><span>${e.name}</span> 강의실 <br></span>
            //     <span class="f16">→</span>
            //     <a class="attend_lnk f16" href="${url}">출석</a> 또는
            //     <a id="editdig-trigger" href="#" class="f16" onclick="renameclassroom(${i})">편집</a> 또는
            //     <a id="editdig-trigger" href="#" class="f16" onclick="deleteclassroom(${i})">삭제</a>
            // </div>`)
        })
    }

    $(document).ready(async function () {
        try {
            await detect_api_server();
        } catch (e) {

        }
        classrooms = await classroom_data();
        try {
            classrooms = JSON.parse(classrooms);
        } catch (e) {
            classrooms = [];
        }
        draw_classroom(classrooms);
    })
</script>

</body>
</html>