<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="sentry-trace" content="{{ trace }}"/>
    <title>DU Attend v2 - 소개</title>
    {% include 'fragment/header.html' %}
</head>
<body>

<div class="container mt-3">
    <h1 style="text-align: center;">DU Attend 소개</h1>
    <hr>

    <!--    <div class="f18" id="alert">-->

    <!--    </div>-->

    <div>
        <h2>DU Attend 란? </h2>
        <p>
            수업 직전 출결 QR을 찍으러 갈 필요 없이 자리에서 전자출결을 도와주는 서비스 입니다. <br>
            일반적으로 수업 10분전 QR출결을 위해 강의실 문앞에 모여 출결을 하는데요. <br>
            아래 리스트에 해당 되시는 분에게 적극 추천합니다. 😀<br>
        </p>

        <h2>이런 분에게 필요해요❗</h2>
        <p>
            ✅ 강의실에 미리 와서 대기한다.<br>
            ✅ 출결 QR할때 사람 모이는게 복잡하다.<br>
            ✅ 다리를 다쳐 거동이 불편하다.<br>
        </p>


        <h2>사용법</h2>
        <img src="/static/image/intro.png" alt="QR 을 찍는 사람, DU Mobile 에 접속하고 출석 링크를 클릭하는 사람" width="100%">
        <div>
            <ol>
                <li>회원가입 / 로그인 후 강의실 추가 버튼을 누르세요.</li>
                <li>강의실 벽면에 부착된 QR 코드를 DU Attend 서비스에 미리 스캔합니다. (강의실마다 최초 1회)</li>
                <li>원하는 강의실의 출석 링크를 누르세요. <b>2번 과정을 한 번만 진행하면 이후 계속 사용할 수 있습니다!</b> 😮</li>
            </ol>
        </div>

        <h2>주의사항</h2>
        <div>
            <ol>
                <li>강의실 근처의 DU Mobile Wifi에 접속해야 합니다.</li>
            </ol>
        </div>

        <h2>의견·문의</h2>
        <div>
            <ul>
                <li><a target="_blank" href="/static/password_reset.html">패스워드 분실 문의 <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
                <li><a target="_blank" href="/static/report.html" >제보·문의·의견(로그인 필요) <i class="fa-solid fa-arrow-up-right-from-square"></i></a></li>
            </ul>
        </div>


        <h2>만든이</h2>
        <span>MiscThings 동아리 → <a href="https://works.miscthings.net/" target="_blank">works.miscthings.net <i class="fa-solid fa-arrow-up-right-from-square"></i></a></span>
        <div>
            <ul>
                <li><span onclick="alert('이승욱')">승우기</span>: 프론트엔드, 테스트, 교정, 홍보</li>
                <li>안건우: 백엔드, 프론트엔드, 문의응대, 서버지원</li>
                <li>이진우: 테스트</li>
                <li>서보성: 테스트</li>
                <li>이창엽: 테스트</li>
                <li>신진우: 테스트</li>
            </ul>
        </div>

        <span><a href="/">홈으로 →</a></span>
    </div>


</div>

{% include 'fragment/footer.html' %}

</body>
</html>