<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="sentry-trace" content="{{ trace }}"/>
    <title>DU Attend v2 - 소개</title>
    {% include 'fragment/header.html' %}
</head>
<body>

<div style="padding-left: 0.5em; padding-right: 0.5em">
    <h1 style="text-align: center;">DU Attend 소개</h1>
    <hr>

    <!--    <div class="f18" id="alert">-->

    <!--    </div>-->

    <div>
        <h2>DU Attend 란? </h2>
        <p>
            수업 직전 출결 QR을 찍으러 갈 필요 없이 자리에서 전자출결을 도와주는 서비스 입니다. <br>
            일반적으로 수업 10분전 QR출결을 위해 강의실 문앞에 모여 출결을 하는데요. <br>
            아래 리스트에 해당 되시는 분에게 적극 추천합니다. 😀<br>
        </p>

        <h2>이런 분에게 필요해요❗</h2>
        <p>
            ✅ 강의실에 미리 와서 대기한다.<br>
            ✅ 출결 QR할때 사람 모이는게 복잡하다.<br>
            ✅ 다리를 다쳐 거동이 불편하다.<br>
        </p>

        <div>
            <h2>지금 가입해 보세요!</h2>
            <form id="register_form" style="padding: 12px; border: 3px #198754 dashed;">
                <div class="row">
                    <div class="col-lg-12 col-md-12 mb-2" style="padding-right: 30px;">
                        <label for="username">아이디(학번)</label>
                        <input type="text" id="username" style="width:100%" placeholder="학번">
                    </div>
                    <div class="col-lg-6 col-md-12 mb-2" style="padding-right: 30px;">
                        <label for="password">암호</label>
                        <input type="password" id="password" style="width:100%" placeholder="4~32자의 암호">
                    </div>
                    <div class="col-lg-6 col-md-12" style="padding-right: 30px;">
                        <label for="password_repeat">암호 재입력</label>
                        <input type="password" id="password_repeat" style="width:100%" placeholder="암호 재입력">
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <ul>
                            <li>학번은 출석체크 URL을 생성하는 데 필요합니다.</li>
                            <li>개인정보를 일체 저장하지 않기 때문에 암호 분실시 문의를 통해 재설정하셔야 합니다.<br><b>기억할 수 있는 암호로 설정해 주세요!</b></li>
                            <li>암호는 서버에 <a
                                    href="https://ko.wikipedia.org/wiki/%EC%95%94%ED%98%B8%ED%99%94_%ED%95%B4%EC%8B%9C_%ED%95%A8%EC%88%98">단방향
                                해시</a>하여 저장합니다. 관리자도 해독할 수 없습니다.
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-12 col-md-12" style="">
                        <button type="button" id="login_btn" style="width: 100%" onclick="register();">회원가입</button>
                    </div>
                </div>
            </form>

            <div id="register_complete" style="padding: 12px; border: 3px #198754 dashed; display: none">
                <div class="row">
                    <div class="col-lg-12 col-md-12" style="padding-right: 30px; text-align: center">
                        <div style="font-size: 1.6em;">등록이 완료되었습니다!</div>
                        <div style="font-size: 1em;">아래에서 사용법을 읽어보세요!</div>
                        <div style="font-size: 1em;">다 읽으셨다면? <a href="/">메인페이지로 →</a></div>
                    </div>

                </div>
            </div>
        </div>


        <h2>사용법</h2>
        <img src="/static/image/intro.png" alt="QR 을 찍는 사람, DU Mobile 에 접속하고 출석 링크를 클릭하는 사람">
        <div>
            <ol>
                <li>회원가입 / 로그인 후 강의실 추가 버튼을 누르세요.</li>
                <li>강의실 벽면에 부착된 QR 코드를 DU Attend 서비스에 미리 스캔합니다. (강의실마다 최초 1회)</li>
                <li>원하는 강의실의 출석 링크를 누르세요. <b>2번 과정을 한 번만 진행하면 이후 계속 사용할 수 있습니다!</b> 😮</li>
            </ol>
        </div>

        <h2>주의사항</h2>
        <div>
            <ul>
                <li>강의실 근처의 DU Mobile Wifi에 접속해야 합니다.</li>
            </ul>
        </div>

        <h2>의견·문의</h2>
        <span>문의 시스템은 현재 공사중 입니다. 불편하시겠지만 아래 메일로 연락 부탁드립니다.</span>
        <div>
            <ul>
                <li>패스워드 분실 문의 → <a href="mailto:attend.du@dlnk.io">attend.du@dLnk.io</a></li>
                <li>기타 의견·문의 → <a href="mailto:attend.du@dlnk.io">attend.du@dLnk.io</a></li>
            </ul>
        </div>

        <h2>만든이</h2>
        <span>MiscThings 동아리 → <a href="https://works.miscthings.net/" target="_blank">works.miscthings.net</a></span>
        <div>
            <ul>
                <li><span onclick="alert('이승욱')">승우기</span>: 프론트엔드, 테스트, 교정, 홍보</li>
                <li>안건우: 백엔드, 프론트엔드, 문의응대, 서버지원</li>
                <li>이진우: 테스트</li>
                <li>서보성: 테스트</li>
                <li>이창엽: 테스트</li>
                <li>신진우: 테스트</li>
            </ul>
        </div>

        <span><a href="/">홈으로 →</a></span>

    </div>
</div>

{% include 'fragment/footer.html' %}


<script>
    let reg_mode = true;
    let SERVER_ADDRESS = "//attend.miscthings.net/"

    function detect_api_server() {
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: "/7qy38tiejfkdnojiwgu9eyhijdfk",
                success: function (data) {
                    console.log("Hello api server!")
                    SERVER_ADDRESS = "/"
                    resolve()
                },
                error: function (xhr, status, err) {
                    resolve()
                },
                timeout: 500
            });
        })
    }

    async function register() {
        let trylogin = $("#login_btn")
        trylogin.attr("disabled", true)
        if (reg_mode && $("#password").val() !== $("#password_repeat").val()) {
            alert(`재입력한 암호가 다릅니다.`);
            trylogin.attr("disabled", false);
            return;
        }

        $.ajax({
            method: "POST",
            url: SERVER_ADDRESS + "2204/register?promo_id=" + "{{promo_code|safe}}",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
                std_id: $("#username").val(),
                password: $("#password").val(),
                type: 0,
                data: "",
                account_register: true
            }),
            success: function (data) {
                if (!data.success) {
                    if (data.code === "IDINVALID" || data.code === "PWINVALID" || data.code === "PWDIDNOTMATCH" || data.code === "ALREADYEXISTS") {
                        alert(data.message);
                        trylogin.attr("disabled", false);
                        return;
                    }
                }else{
                    localStorage.setItem("login_id", $("#username").val())
                    localStorage.setItem("password", $("#password").val())

                    if(data.new_token){
                        localStorage.setItem("password", data.new_token)
                    }

                    $("#register_form").hide();
                    $("#register_complete").show();
                }
            }
        });
    }

    $(document).ready(async function () {
        try{
            await detect_api_server();
        }catch (e) {

        }
    })

</script>

</body>
</html>