<div class="copyleft" style="padding-left: 0.5em; padding-right: 0.5em; line-height: 1.5;">
    <hr>
    2022.
    <a target="_blank" href="https://works.miscthings.net">
        <i data-lucide="users"></i> MiscThings</a>,
    <a href="/static/introduce.html"><i data-lucide="help-circle"></i> 사용법</a>,
    <a href="/static/report.html"><i data-lucide="megaphone"></i> 의견·문의</a>,
    <a href="/"><i data-lucide="home"></i> 홈으로</a>
</div>

<div class="copyleft mb-5" style="margin-top: 0.2em !important;">
    <a href="https://status.miscthings.net/status/miscthings" class="version"></a>
</div>
<script src="/static/version.js"></script>
