<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/static/icon/favicon.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" href="/static/icon/apple-touch-icon.png"/>
<link rel="apple-touch-icon" sizes="57x57" href="/static/icon/apple-touch-icon-57x57.png"/>
<link rel="apple-touch-icon" sizes="72x72" href="/static/icon/apple-touch-icon-72x72.png"/>
<link rel="apple-touch-icon" sizes="76x76" href="/static/icon/apple-touch-icon-76x76.png"/>
<link rel="apple-touch-icon" sizes="114x114" href="/static/icon/apple-touch-icon-114x114.png"/>
<link rel="apple-touch-icon" sizes="120x120" href="/static/icon/apple-touch-icon-120x120.png"/>
<link rel="apple-touch-icon" sizes="144x144" href="/static/icon/apple-touch-icon-144x144.png"/>
<link rel="apple-touch-icon" sizes="152x152" href="/static/icon/apple-touch-icon-152x152.png"/>
<link rel="apple-touch-icon" sizes="180x180" href="/static/icon/apple-touch-icon-180x180.png"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
<link rel="stylesheet" href="/static/bootstrap-grid.css">
<link rel="stylesheet" type="text/css"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css"/>
<script src="https://kit.fontawesome.com/3694f6fd31.js" crossorigin="anonymous"></script>
<script src="/static/jquery-3.6.0.min.js"></script>
<script src="/static/sentry.min.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W60L1V7RMC"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-W60L1V7RMC');
</script>
<style>
    body {
        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    }

    .f18 {
        font-size: 1.8em;
    }

    .f16 {
        font-size: 1.6em;
    }

    .copyleft {
        margin-top: 1em;
        font-size: 0.8em;
        text-align: center;
    }
</style>
